@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #27282c;
    flex-direction: column;
    gap: 60px;

}
/* First input */
.box {
    position: relative;
    z-index: 0;
}

input {
    background-color: #27282c;
    border: 1px rgb(116, 115, 115) solid;
    padding: 5px;
    outline: none;
    height: 50px;
    width: 250px;
    color: #fff;
    font-size: 1.5em;
}

.box span {
    pointer-events: none;
    position: absolute;
    color: rgb(116, 115, 115);
    left: 0px;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 9px 10px;
    transition: 0.5s;
}
.box input:valid ~ span,
.box input:focus ~ span {
    transform: translateX(15px) translateY(-7px);
    position: absolute;
    font-size: 0.6em;
    padding: 0 10px;
    background-color: goldenrod;
    color: var(--cr);
}

.box input:focus{
    box-shadow: 0 0 22px var(--cr);
    border-color: var(--cr);
}
/* Second input */
.box2 {
    position: relative;
    z-index: 0;
}

.box2 span {
    position: absolute;
    color: rgb(116, 115, 115);
    left: 0px;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 9px 10px;
    pointer-events: none;
    transition: 0.5s;
}
.box2 input:valid ~ span,
.box2 input:focus ~ span {
    color: aqua;
    transform: translateX(15px) translateY(-7px);
    position: absolute;
    font-size: 0.6em;
    padding: 0 10px;
    background-color: #27282c;
    border-left: 1px aqua solid;
    border-right: 1px aqua solid;
}

.box2 input:focus{
    border: 1px solid aqua;
}

.box2 input:focus > span {
    color: aqua;
}